.main-pys {
    .menu-bootstrap {
        nav {
            .menu-bootstrap-ul {
                position: relative;
                z-index: -1;
            }
        }
    }

    .carrusel {
        margin: 100px;
        margin-top: 50px;

        div {
            .rayitas-carrusel {
                position: relative;
                z-index: -1;
            }

            .carousel-inner {
                .img-carousel {
                    width: 100vw;
                    position: relative;
                    z-index: -1;
                }

                .carousel-item {
                    div {
                        .h4-carrusel {
                            position: relative;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }

    .productos {
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;

        .productos-1 {
            font-weight: 500px;
            font-size: 25px;

            .h5-productos {
                background-color: red;
                margin: 0;
            }

            .ul-productos {
                background-color: rgb(197, 197, 197);
            }
        }
    }
}