.main-contacto {
    .grilla-contacto {
        display: flex;
        justify-content: space-around;
        margin: 50px 20px 100px 20px;

        .mapa {
            margin: 20px;

            iframe {
                width: 700px;
                height: 500px;
            }
        }

        div {
            .formulario {
                form {
                    @extend %estilo-form;
                    margin: 20px;

                    label {
                        font-size: 25px;
                    }

                    input {
                        height: 30px;
                        width: 570px;
                        font-size: 20px;
                        text-align: center;
                    }

                    textarea {
                        width: 570px;
                    }
                }
            }
        }
    }
}