h2 {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    font-weight: 800;
}

h3 {
    margin: 20px;
}

h4 {
    background-color: $bgcolor-h4;
    border-radius: map-get($map: $estilo-h4, $key: br-h4);
    font-size: map-get($map: $estilo-h4, $key: fs-h4);
    color: $color-h4;
    padding: map-get($map: $estilo-h4, $key: padding-h4);
}

h5 {
    font-size: 40px;
}

.body-bg {
    background-image: url(../images/bg-img.png);
    background-attachment: fixed;
}
