/* Medias queries proyecto */
/* Tablet */
@media screen and (max-width: 1023px) {

    /* Estilos globales */
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
        margin: 20px;
    }

    /* Estilos header */
    header {
        h1 {
            font-size: 30px;
            padding: 30px 10px;
        }

        div {
            .cabecera {
                margin: 0px 40px 50px 40px;
                
                .container-fluid {
                    .img-navbar {
                        width: 250px;
        
                        .nag-img {
                            width: 250px;
                        }
                    }
                }
            }
        }
    }


    /*Estilos Footer */
    .parrafo-footer {
        font-size: 25px;
    }

    .grupo-enlaces {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        background-color: rgb(202, 202, 202);

        .redes-sociales {
            a {
                font-size: 30px;
            }
        }
    }

    /* Archivo index.html */
    .main-index {
        .cuerpo-index {
            display: flex;
            flex-wrap: wrap;

            .video {
                width: 100%;
                height: 400px;
            }

            .articulo-index {
                .p-index {
                    font-size: 25px;
                }
            }
        }
    }

    /* Archivo productos-servicios.html */
    .main-pys {
        .menu-bootstrap {
            .menu-pagination {
                .menu-bootstrap-ul {
                width: 80vw;
                display: flex;
                justify-content: center;
                }
            }
        }

        .carrusel {
            .slide {
                .carousel-inner {
                    .carousel-item {
                        div {
                            .h4-carrusel {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Archivo Contacto.html */
    .main-contacto {
        .grilla-contacto {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .mapa {
                .h3-contacto {
                    font-size: 15px;
                    margin: 10px 20px;
                }

                iframe {
                    width: 80vw;
                    height: 40vh;
                }
            }

            div {
                .formulario {
                    form {
                        height: 350px;

                        label {
                            font-size: 15px;
                        }

                        input {
                            font-size: 15px;
                            height: 25px;
                        }

                        #mensaje {
                            height: 120px;
                        }
                    }
                }
            }
        }
    }
}

/* Mobile */
@media screen and (max-width: 768px) {

    /* Estilos generales */
    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 12px;
        margin: 10px;
    }

    /* Estilos header */
    header {
        position: relative;

        h1 {
            font-size: 1em;
            padding: 15px 0;
        }

        div {
            .cabecera {
                margin: 0px 20px 10px 20px;

                .container-fluid {
                    .img-navbar {
                        width: 150px;
            
                        .nag-img {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }

    /*Estilos Footer */
    .parrafo-footer {
        font-size: 20px;
    }

    .grupo-enlaces {
        padding: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 202px;

        .redes-sociales {
            a {
                font-size: 20px;
            }
        }
    }

    /* Archivo index.html */
    .main-index {
        .cuerpo-index {
            display: flex;
            flex-wrap: wrap;

            .video {
                width: 100%;
                height: 300px;
            }

            .articulo-index {
                .p-index {
                    font-size: 15px;
                }
            }
        }
    }

    /* Archivo quienes-somos.html */
    .main-quienes {
        .grid-container {
            display: grid;
            grid-template-rows: repeat(6, 300px);
            grid-template-columns: 100vw;

            .grid-item {
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;

                .p-quienes {
                    font-size: 20px;
                }

                .ul-quienes {
                    font-size: 20px;
                }
            }
        }
    }

    /* Archivo presencia-mundo.html */
    .main-mundo {
        .ciudades {
            text-align: justify;
            display: flex;
            justify-content: space-around;

            ul {
                font-weight: 300px;
                padding: 0 25px;
                margin: 0 100px;
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: repeat(14, 40px);
                font-size: 20px;
            }
        }

        .div-img-mundo {
            margin: 30px;
        }
    }

    /* Archivo productos-servicios.html */
    .main-pys {
        .carrusel {
            .slide {
                .carousel-inner {
                    .carousel-item {
                        div {
                            .h4-carrusel {
                                font-size: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Archivo contacto.html */
    .main-contacto {
        .grilla-contacto {
            display: grid;

            .mapa {
                iframe {
                    width: 70vw;
                    height: 40vh;
                }
            }

            div {
                .formulario {
                    form {
                        width: 300px;

                        label {
                            font-size: 15px;
                        }

                        input {
                            width: 270px;
                        }

                        #mensaje {
                            width: 270px;
                        }
                    }
                }
            }
        }
    }
}