//MIXIN
@mixin flex($justify-content) {
    display: flex;
    justify-content: $justify-content;
}

@mixin grid($grid-rows, $grid-columns, $align-items) {
    display: grid;
    grid-template-rows: $grid-rows;
    grid-template-columns: $grid-columns;
    align-items: $align-items;
}