.parrafo-footer {
    text-align: left;
    font-weight: 600;
    font-size: 30px;
    color: rgba(49, 16, 16, 0.87);
    background-color: beige;
}

.grupo-enlaces {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 100%;
    background-color: rgb(208, 205, 240);

    .redes-sociales {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 54px;
        }

        &:hover {
            background-color: rgb(170, 170, 170);
        }

        &:focus {
            background-color: yellow;
        }
    }
}

.copyright {
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
}

section {
    .chat-imagen {
        position: fixed;
        bottom: 20px;
        right: 20px;

        img {
            width: 125px;
            border-radius: 30px;
            overflow: hidden;
        }

        .chat {
            display: flex;
            justify-content: center;
            font-size: 20px;
            background-color: yellow;
            border-radius: 20px;
            padding: 0 5px;
        }
    }
}